





.social-list-icon {
  fill: #f4f4fd;
}





.solution-item {
  width: calc((100% - 48px) / 3);
}

/** PORTFOLIO */
/* #region PORTFOLIO*/

/** MAIN */

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  line-height: var(--description-height);
  letter-spacing: var(--ls-small);
  color: var(--main-text);
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.container-portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.hero {
  max-width: 1440px;
  background-color: var(--main-text);
}

.portfolio-title {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.portfolio-link {
  display: block;
}
.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list-item:hover .portfolio-list-item:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.container-porfolio-list {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-button {
  padding: 12px 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  line-height: var(--general-lh);
  color: var(--accent-color);
  background-color: var(--light-text);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover,
.portfolio-button:focus,
.portfolio-button:active {
  border: 1px solid transparent;
  background-color: var(--action-color);
  color: var(--page-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 2px 1px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.portfolio {
  padding-top: 96px;
  padding-bottom: 120px;
}

.portfolio-list {
  list-style: none;

}.portfolio-desc {
  font-weight: 400;
  font-size: var(--description-size);
  line-height: var(--description-height);
  letter-spacing: var(--ls-small);
  color: var(--main-color);
}
.link {
  text-decoration: none;
}
.portfolio-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  overflow: auto;
  transform: translateY(100%);
  font-size: 16px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  background-color: var(--accent-color);
  color: var(--light-text);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  background: var(--accent-color);
  color: var(--light-text);
}
.portfolio-list-item:hover .overlay,
.portfolio-list-item:focus .overlay {
  transform: translateY(0);
}

.portfolio-link:hover .overlay,
.portfolio-link:focus .overlay {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  transform: translateY(0);
}
.portfolio-list-item:hover,
.portfolio-list-item:focus:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.overlay-portfolio {
  position: relative;
  overflow: hidden;
}












